<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/headers.ejs %>
  </head>
  <body>
    <header>
      <%- include ./partials/head.ejs %>
    </header>

    <div id="wrapper">

      <container class="welcome-container">
        <div class="welcome-to-hfa">
          Welcome to Home Field Advantage, a forum to share your experiences, likes, dislikes, tips and general knowledge about sports stadiums and arenas in North America.
        </div>
        <div class="all-stadiums-container hvr-grow">
          <a href="/stadiums/allstadiums"></br><img width="100%" src="/img/all-stadiums2.png"  /></a>
        </div>
      </container>
      <div id="stadiums-container" class="">
        <div class="league-thumb-container hvr-grow">
          <a href="/stadiums/nfl"><img width="100%" src="/img/national_football_league.png"  /></a>
        </div>
        <div class="league-thumb-container hvr-grow">
          <a href="/stadiums/mlb"></br>
          </br><img src="/img/Major_League_Baseball.png" width="100%"  /></a>
        </div>
        <div class="league-thumb-container hvr-grow"></br>
          <img width="100%" src="/img/national_hockey_league2.png"  />
        </div>
        <div class="league-thumb-container hvr-grow">
          <img height="200px" src="/img/national-basketball-association2.png"  />
        </div>
        <div class="league-thumb-container hvr-grow">
        </br></br><a href="/stadiums/nfl"><img width="100%" src="/img/mls-logo.png"  /></a>
        </div>
      </div>

    </div>
    <footer>
      <a href="mailto:mark@markledbetterdesigns.com">© Mark Ledbetter</a>
    </footer>
  </body>
</html>
