<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/headers.ejs %>
  </head>
  <body>
    <div id="nav-bar-top" class="">
      <nav>
        <%- include ./partials/head.ejs %>
      </nav>
    </div>

    <div id="wrapper">

      <header>
        <div class="welcome-to-hfa">
          Welcome to Home Field Advantage, a forum to share your experiences, likes, dislikes, tips and general knowledge about sports stadiums and arenas in North America.
        </div>

      </header>
      <div id="stadiums-container" >
        <div class="league-thumb-container">
          <a href="/stadiums/allstadiums"></br><img width="200px" src="/img/all-stadiums2.png"  /></a>
        </div>
        <div class="league-thumb-container">
          <a href="/stadiums/nfl"><img width="200px" src="/img/national_football_league.png"  /></a>
        </div>
        <div class="league-thumb-container">
          <a href="/stadiums/mlb"></br>
          </br><img src="/img/Major_League_Baseball.png" width="200px"  /></a>
        </div>
        <div class="league-thumb-container"></br>
          <img width="200px" src="/img/national_hockey_league2.png"  />
        </div>
        <div class="league-thumb-container">
          <img height="300px" src="/img/national-basketball-association2.png"  />
        </div>
        <div class="league-thumb-container">
          <a href="/stadiums/nfl"><img width="200px" src="/img/mls-logo.png"  /></a>
        </div>
      </div>

    </div>
    <footer>
      © Mark Ledbetter
    </footer>
  </body>
</html>
