<div id="nav-wrapper">
<div class="container clearfix">
    <nav>
      <a href="/stadiums/nfl"><img class="nav-image" src="/img/national_football_league.png"  /></a>
        <a href="/stadiums/mlb"><img class="nav-image" src="/img/Major_League_Baseball.png"  /></a>
        <a href="#"><img class="nav-image" src="/img/national_hockey_league2.png"  /></a>
        <a href="#"><img class="nav-image" src="/img/national-basketball-association2.png"  /></a>
        <a href="#"><img class="nav-image" src="/img/mls-logo.png"  /></a>
        <a href="/stadiums/allstadiums"><img class="nav-image" src="/img/all-stadiums2.png"  /></a>
    </nav>
    <h1 id="logo" class="logo">
      <a href="/" ><em>Home Field Advantage</em></a>        </h1>
</div>
</div>
