    <meta charset="utf-8">
    <title>Home Field Advantage</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <!-- Application Styles Normalize -->
    <link rel="stylesheet" href="/css/normalize.css" />

    <!-- Application Styles -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Application JS -->
    <script src="/js/app.js"></script>
