<div class="logo"><a href="/" ><em>Home Field Advantage</em></a></div>
<ul>
  <li><a href="/stadiums/nfl"><img src="/img/national_football_league.png"  /></a></li>
  <li><a href="/stadiums/mlb"><img src="/img/Major_League_Baseball.png"  /></a></li>
  <li><img src="/img/national_hockey_league2.png"  /></li>
  <li><img src="/img/national-basketball-association2.png"  /></li>
  <li><img src="/img/mls-logo.png"  /></li>
  <li><a href="/stadiums"><img src="/img/all-stadiums2.png"  /></a></li>
</ul>
